<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <h1 class="mb-4"><i class="fas fa-user"></i>Profile</h1>
    <p>Name: <%= name %></p>
    <p>Email: <%= email %></p>
    <p>Job Title: <%= jobTitle %></p>
    <a href="/users/editprofile" class="btn btn-secondary btn-block">Edit Profile</a>
  </div>
</div>
